schemas/NetworkIdSearch.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited with XMLSpy v2012 (http://www.altova.com) by Tom Houck (Dean Health Plan) -->
<!--W3C Schema generated by XMLSpy v2012 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:element name="ContractId" type="xs:string"/>
	<xs:element name="MemberId" type="xs:string"/>
	<xs:element name="EffectiveDateStart" type="xs:string"/>
	<xs:element name="EffectiveDateEnd" type="xs:string"/>
	<xs:element name="NetworkId" type="xs:string"/>
	<xs:element name="NetworkIdInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MemberInput" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MemberInput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ContractId"/>
				<xs:element ref="MemberId"/>
				<xs:element ref="EffectiveDateStart"/>
				<xs:element ref="EffectiveDateEnd"/>
				<xs:element ref="NetworkId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>